[2016-02-29 22:43] ruolin opened #1 "SAM input is not supported."

[2016-02-29 22:48] ruolin opened #2 "TPM calculation might be wrong."
Strawberry 0.7.2-beta use TPM_i = FPKM_i \* 10^6 /  \sum_i FPKM_i , suggested by [this](https://haroldpimentel.wordpress.com/2014/05/08/what-the-fpkm-a-review-rna-seq-expression-units/). However this does not agree with RSEM and StringTie.

[2016-03-11 02:31] ruolin opened #3 "output gtf file not sorted correctly."
When use multiple thread, the assembled_transcripts.gtf is not sorted correctly.

[2016-03-15 21:51] ruolin opened #4 "-g option does not support gtf format"
Need to add support for gtf format when using annotation guided assembly option.

[2016-03-15 21:54] ruolin opened #5 "merge transfrags issues"
Instead of merging non-overlapped transfrags assembled from a pesudo-locus, Strawberry should probably splits the transfrags into several loci.

[2016-05-19 13:38] petersbr opened #6 "kmer.cpp missing"
The list file refers to a kmer.cpp, causing the build to fail.but no such code is present in the repository.

[2017-03-29 06:09] ruolin commented on #4
solved

[2017-03-29 06:09] #4 closed

[2017-06-28 17:16] ruolin commented on #6
Are you refer to the latest version?
In the current master kmer.cpp has been removed from the list.
https://github.com/ruolin/strawberry/blob/master/src/CMakeLists.txt#L27

[2017-07-05 05:56] #6 closed

[2017-07-05 05:56] #5 closed

[2017-07-28 18:11] petersbr opened #12 "Binary reference sequence ids/names in gtf output"
Hello,

I have been trying to move to the updated version of strawberry.  The pre-compiled version runs but produces a gtf file called assembled_transcripts.gtf.  Unfortunately, that gtf file is unusable because the chromosome names are binary instead of text.

I have not been able to see if this is corrected in a self-compiled version of the git code because that version segfaults on real data le

[2017-07-31 02:25] ruolin commented on #12
Hi @petersbr, thanks for your comments.
I have some bug fixes to version 0.9.0. Some one also points that when Strawberry runs on tophat2 alignment, it produces segfaults? What aligner are you using? Also, I have some important bug fixes that have been done to version 0.9.0. And I just updated the binary.

But for the other issue you reported, I have never seen binary chrom names before. Could you

[2017-07-31 17:27] petersbr commented on #12
I am working with hisat2 v2.1.0 to generate BAM files.  I can reproduce the problem in runs where it occurs.  It was observed in approximately 7% of my runs.  In affected GTF output files, only the refseq column is binary, all other gtf columns are fine.  I'll see if I can figure out how to create a small test bam that will reproduce the problem.

[2017-08-01 17:34] petersbr commented on #12
I haven't yet had luck with subsets of the bam file but I can regularly reproduce the issue on full hisat bam files, but only those from a given genome.  The only thing that is different about the reference sequences is their naming scheme.  Instead of a simple Chr1 which is working ok in a genome named that way, in the genome where they have names like Chr01_AB12C_PacBio seems to put binary objec

[2017-08-03 07:15] ruolin commented on #12
@petersbr thanks. I think you have enough information for me now. I will try to fix this problem and let you know. I have been swamped by my defense next week. So I will probably push the fix two weeks later. At the mean time, if you could just print a first few line of you problematic bam file (plus the header) and upload as a text file here, it would be a great help to me.

[2017-08-04 19:58] petersbr commented on #12
test$ samtools view -h ../mapped_assembly_input_reads.bam | head -n 25
@HD     VN:1.0  SO:coordinate
@SQ     SN:Chr01_AB12C_PacBio   LN:311861409
@SQ     SN:Chr02_AB12C_PacBio   LN:245893436
@SQ     SN:Chr03_AB12C_PacBio   LN:237154059
@SQ     SN:Chr04_AB12C_PacBio   LN:251543118
@SQ     SN:Chr05_AB12C_PacBio   LN:220160916
@SQ     SN:Chr06_AB12C_PacBio   LN:171921718
@SQ     SN:Chr07_AB12C_PacBio

[2017-10-13 04:39] ruolin commented on #12
@petersbr Hello,

I see no problem reading your file and convert to the right chrom names. see the log below.
Inspecting sample......
ref id: 0
 chr name: Chr01_AB12C_PacBio
ref id: 0
 chr name: Chr01_AB12C_PacBio
ref id: 0
 chr name: Chr01_AB12C_PacBio
ref id: 0
 chr name: Chr01_AB12C_PacBio
ref id: 0
 chr name: Chr01_AB12C_PacBio
ref id: 0
 chr name: Chr01_AB12C_PacBio
ref id: 0
 chr name: Chr01

[2017-10-16 15:38] petersbr commented on #12
Thanks for looking into this issue.  If it cannot be reproduced, there really is nowhere to go further with this.

[2017-11-30 02:15] nancydongxyz opened #14 "Strawberry incompatible with STAR alignment output?"
Hello!

I see in your recent paper that you decided not to use STAR as the aligner because it lacks the "XS" function. However, in my use of the most recent version of STAR, I can specify the "XS" option in the output. Am I interpreting this correctly?

I don't know if this is related, but when I tried Strawberry assembly of a few .bam files produced by STAR, I see in the **assembled_transcripts.g

[2017-11-30 04:16] ruolin commented on #14
Hello @nancydongxyz. Thank you for posting the question. I would like to look into this problem. Is it possible for you to share one of the `.bam` file that you just described?

[2017-11-30 19:20] nancydongxyz commented on #14
Hello Ruolin,

Here is the [link](https://utoronto-my.sharepoint.com/personal/nancy_dong_mail_utoronto_ca/_layouts/15/guestaccess.aspx?docid=0c8c50004deed4063b3dadf791dde7966&authkey=AevZrD-p73J_Nx5_rrZr5d4&expiration=2017-12-30T19%3A16%3A57.000Z&e=98183bf2f2ff4b9db0748ce2807b6932) to one of the BAM files that I had used with Strawberry. I used four BAM files, one for each pair-end RNA-seq library

[2017-12-04 07:15] ruolin commented on #2
Fixed.

[2017-12-04 07:15] #2 closed

[2017-12-04 07:18] ruolin commented on #14
@nancydongxyz Hi Nancy, I have fixed the problem. This problem is caused by uncanonical contig names rather than STAR. The latest version of STAR is totally compatible with Strawberry. Please update your version to 0.9.1 or download the corresponding binary.

[2017-12-04 07:21] ruolin commented on #12
@petersbr I think I finally found the bug that you were talking about and fixed it in version 0.9.1. Sorry I wasn't able to realize this issue early. For more information, see Nancy's Issue.

[2017-12-04 09:50] pepap opened #16 "installation error"
I was not able to install it

==================================
git clone :
==================================

Cloning into 'Strawberry'...
remote: Counting objects: 2065, done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 2065 (delta 15), reused 21 (delta 11), pack-reused 2031
Receiving objects: 100% (2065/2065), 36.07 MiB | 82.00 KiB/s, done.
Resolving deltas: 100% (1285/1285

[2017-12-04 13:59] nancydongxyz commented on #14
Hello Ruolin,

Fantastic, I will give v0.9.1 a try. Thank you very much!

Nancy

[2017-12-04 16:31] ruolin commented on #16
@pepap Thank you for the feedback. It is because you have been using the ssh key in your environment. I have changed the submodule to use https server. Let me know if it works. Please do `git clone --recursive ` again.

[2017-12-04 22:42] petersbr commented on #12
Glad you found it!

[2017-12-04 22:42] #12 closed

[2017-12-12 07:22] #16 closed

[2017-12-12 07:23] #14 closed

[2018-01-06 19:34] flatberg opened #17 "Strawberry fails on Ensembl .gtf files ?"
Is strawberry renaming the Ensembl seq names with "chr" prefix ?: My gtf file is standard Ensembl GRCh38 and the bam file is from STAR using the same gtf file.

log:
OUTPUT gtf file:
test/assembled_transcripts.gtf
see test//tracking.log for the progress of the program
Has loaded transcripts from 47 Chromosomes/Scaffolds
Warning: the gff file contains seq name chr1 which is not found in the bam fil

[2018-01-07 00:33] ruolin commented on #17
@flatberg hello, thanks for reporting this issue. What is the command line you are using? And if you do not supply gtf, is the result normal? Can you share a few hundred of bam lines with bam header to me?

[2018-01-08 23:46] flatberg commented on #17
specific cmd:

The gtf file is Ensembl (R87):
[ftp://ftp.ensembl.org/pub/release-87/gtf/homo_sapiens/Homo_sapiens.GRCh38.87.gtf.gz](url)

(github would not upload .bam, hence the .gz)
[test.bam.gz](https://github.com/ruolin/strawberry/files/1613439/test.bam.gz)

[2018-01-09 00:03] flatberg commented on #17
and running without the -g [gtf] option still looks like it fails with 2674 mapped reads (none counted on the normal chr as before).

FYI:

39063183 + 0 in total (QC-passed reads + QC-failed reads)
6570889 + 0 secondary
0 + 0 supplementary
0 + 0 duplicates
39063183 + 0 mapped (100.00% : N/A)
0 + 0 paired in sequencing
0 + 0 read1
0 + 0 read2
0 + 0 properly paired (N/A : N/A)
0 + 0 with itself and

[2018-01-09 04:35] ruolin commented on #17
@flatberg , thank you very much for providing the test case! I noticed that your test.bam contains only single-end reads and the samtools flagstat also proves that. Currently Strawberry only support paired-end reads. I am starting to implement single-end read feature and I do believe some users like you still need that. However, keep in mind that both assembly and quantification algorithms are des

[2018-03-31 04:16] #17 closed

[2018-06-01 00:00] DarioS opened #18 "Usability of Strand-specific RNA-seq Data"
According to the journal article, the method works for strand-specific reads. However, none of the options specified by the user to the software are for specifying the strand-specific type of sequencing done. For example, StringTie has options `--fr` and `--rf`. Can Strawberry correctly assemble transcripts if they have overlapping genomic coordinates but are on opposite strands?

[2018-06-01 13:23] ruolin commented on #18
Hi @DarioS, thanks for reporting. I will fix this during the weekend. Currently, I don't have a proper test case. Do you have a strand-specific bam file that you can share with me? Yes. Strawberry can assemble transcripts on opposite strands. If you can give me the url or send me to `rliu0606@gmail.com`

[2018-06-02 01:00] DarioS commented on #18
You might like to use a [publicly available BAM file](https://www.encodeproject.org/files/ENCFF324RIZ/) from ENCODE Project, for instance. You could check genes which are on opposite strands and have largely overlapping 3' UTRs to make sure they are not being assembled into one transcript.

[2018-06-05 07:48] ruolin commented on #18
Hi @DarioS thank you for the bam file. I have implemented the Strand-specific options and test against the bam file that you provided. Strawberry is able to assemble overlapping transcripts. Please see https://github.com/ruolin/strawberry/releases/tag/0.9.2

[2018-06-06 01:00] #18 closed

[2018-06-28 18:33] tdlong opened #19 "Is there a usegroup?"
1.  I was annotating a mammalian genome and the program crashed.  There does not appear to be intermediate files (beyond logs).  Before I profile is it likely I just went above 500Gb of RAM and should be running this on a high memory node?

2.  I am getting lots and lots of warnings about reads having multiple hits and/or mapping to multiple chromosomes.  This does not surprise me as I am giving t

[2018-06-29 03:29] ruolin commented on #19
@tdlong Hi I would love to create a user group. Thank you for the suggestion!
1. How large is your bam file? If it went beyond RAM capacity, it can fail. But it might be bad memory allocations. It will be great if you can provide me such a BAM file so I can do something about it.

2. Yep. "-q 10" might be enough. I would recommend it. I am currently working on a User guide. But Haven't quite finis

[2018-06-29 04:43] tdlong commented on #19
My bam file is 123Gb!  I have a few flow cells of RNA seq data from several different tissue I wish to use to annotate a de novo genome assembly.  I am now filtering the bam file to only include HQ mapped pairs.  This should reduce the size (I will keep track of this!).

It sounds like the best thing for me to do is to re-run the filtered bam, and memory profile while it is running.  I will report

[2018-07-02 04:59] ruolin commented on #19
@tdlong First of all, thanks for using Strawberry and giving me some feedback. I really appreciate it. And please let me know after you profile it. I am willing to work with you to fix any issues/bugs if you found.

For your purpose, I agree if you have a very large bam. You can select a subset by using a known set of loci. But those highly expressed genes might be somehow in your interest.

I am

[2018-07-02 22:52] tdlong commented on #19
It is on the big memory node now.

Here is the script I submitted to my SGE queuing software.

#$ -N strawberry
#$ -q bigmemory
#$ -pe openmp 80
#$ -R y

module purge
module load samtools/1.8-11
module load perl/5.16.2
module load java/1.8.0.51

#/usr/bin/time -v samtools index hisat2_out/mouse.RNAseq.filter.sort.bam
#echo "finished samtools run at $(date)"
/usr/bin/time -v ./Strawberry/bin/strawb

[2018-07-03 05:17] ruolin commented on #19
@tdlong Currently the parallelization can be improved a lot. The current multithreading has a huge overhead of dispatching. So I am not very surprised to see the low cpu load. Actually, I am recommending using 10 cores as the maximum for now so you won't waste the resources. Better multithreading is a feature I am working on right now. Right now using -p 10 is enough.

[2018-07-05 15:41] tdlong commented on #19
It seems to do a pretty good job.  In some case my old Trinity -> Augustus pipeline seems a little closer to exonerate predictions, in other cases Hisat2 -> strawberry.

When I filtered the input bam file the program did not crash...here is my "pipeline" for your reference.

foreach RNAseq_experiment:
	hisat2 -p 8 -x $TREF -1 $R1 -2 $R2 | samtools view -Sbo hisat2_out/$samplename.bam -
	samtools s

[2018-07-20 08:52] 47Lies opened #20 "Troubles with GTF files"
I am currently working on human data mapped with hisat2 using Gencode fasta files and annotations

ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_28/gencode.v28.annotation.gtf.gz
ftp://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_28/GRCh38.primary_assembly.genome.fa.gz

And I have some troubles with the GTF option.
It crash with this error

strawberry: /home/ruolin/gi

[2018-07-21 15:21] ruolin commented on #20
@47Lies Did you use the zipped file `gz`? Please unzip first if so.

[2018-07-23 08:31] lietai commented on #20
I used the unzipped file.

[2018-07-23 16:25] ruolin commented on #20
@47Lies Thank you for reporting! I can reproduce your error. Will get back to you shortly.

[2018-07-25 06:25] ruolin commented on #20
@47Lies Thanks again. This bug is triggered by a one bp intron in the gff file. This has been fixed in 0.9.3. https://github.com/ruolin/strawberry/tree/0.9.3

chr1    ENSEMBL exon    6457184 6457264 .   +   .   gene_id "ENSG00000187017.16";
chr1    ENSEMBL exon    6457266 6457274 .   +   .   gene_id "ENSG00000187017.16";

[2018-07-25 16:20] lietai commented on #20
@ruolin Thank you for your reactivity. Indeed I succeded with your example bam geuvadis_300/sample_01.sorted.bam

But it failed with my bam file.

strawberry: /home/ruolin/git/strawberry/src/alignments.cpp:1939: void filter_intron(const string&, uint, uint, const std::vector<float>&, IntronMap&): Assertion `end > start' failed.

I suspect the same kind of issue as before.

Should I open a new issu

[2018-07-25 19:16] ruolin commented on #20
@47Lies Thank you for testing it! No, you don't need to open a new issue. I think it is still something related. If you can share me your bam, it will be very helpful.

[2018-07-26 09:09] lietai commented on #20
@ruolin I manage to extract a few reads that make strawberry crash with the genecode.v28 gtf

[CRASH.bam.gz](https://github.com/ruolin/strawberry/files/2231252/CRASH.bam.gz)

I just gzip the file so that github accept it.

Best regards

[2018-07-27 09:05] ruolin commented on #20
@47Lies thank you very much for providing the test case. It helped me a lot! I have fixed the bug and tested it on your bam and it seems to work now.  https://github.com/ruolin/strawberry/releases/tag/0.9.3.
Please test 0.9.3 on your whole bam and let me know how it goes.

[2018-07-29 13:14] lauraht opened #21 "Strawberry does not output any transcripts for our BAM file"
Hello!

I tried to run strawberry in the default mode (no -g option) and with default parameters on the alignment BAM file generated by minimap2. The BAM file was sorted and they are single-end reads of a human sample. The strawberry output gtf file does not contain any transcripts (it is practically empty but only contains a comment line). There was no error message.

Based on the warnings in exe

[2018-07-30 23:09] ruolin commented on #21
@lauraht Thanks for reporting this problem. Currently Strawberry does not support single-end reads for denovo assembly. I am working on it right now to extend to single end reads.

[2018-07-31 08:59] lietai commented on #20
@ruolin It works, thank you.

Best regards.

[2018-07-31 12:55] lauraht commented on #21
Hi Ruolin,

Thank you so much for your response!

Great to know you are working on extending Strawberry to support single-end reads.

I was wondering if it might be possible to get a rough idea about the approximate time frame this may become available? I’d greatly appreciate it.

Thank you very much!

[2018-07-31 14:47] ruolin commented on #20
@47Lies Thank you for your help and patients. I will close it now.

[2018-07-31 14:47] #20 closed

[2018-07-31 14:51] ruolin commented on #21
@lauraht Hi Lauraht. Thank you very much for your interest in Strawberry. I will try my best to make it available in a week.

[2018-08-01 04:22] lauraht commented on #21
Thanks a lot Ruolin!

[2018-08-03 06:26] ruolin commented on #21
@lauraht Actually, I just used Hista2 to align a single-end RNA-seq data. And Strawberry works fine. Do you mind sharing your data? I probably just need the first few thousand lines of your bam file.

[2018-08-03 10:15] lauraht commented on #21
Hi Ruolin,

Here is a sub-portion (first a few thousand lines) of our BAM file:
[sub_test.bam.gz](https://github.com/ruolin/strawberry/files/2256944/sub_test.bam.gz)

Thanks!

[2018-08-03 16:16] ruolin commented on #21
@lauraht Thanks I can reproduce your errors now. Are these pacbio ccs reads?

[2018-08-06 07:11] lauraht commented on #21
Yes.  Thanks!

[2018-08-08 02:05] ruolin commented on #21
@lauraht Hi the problem is not actually because of the single end. This is a work to extend Strawberry to third generation data. I am working on it right now. But it might take a little bit longer.

[2018-08-26 06:03] ruolin commented on #21
Hi @lauraht Sorry about the delay. Now I have added Pacbio ccs read support. Please check out https://github.com/ruolin/strawberry/releases/tag/1.0.1

[2018-08-26 15:49] lauraht commented on #21
Thank you very much Ruolin!

I will give it a try then.

[2018-08-26 23:56] ruolin commented on #21
Sure. Please let me know whether it works or not.

[2018-09-02 12:24] lauraht commented on #21
It works! Thanks Ruolin!

For Pacbio ccs reads, we'd better use "--min-support-4-intron 1.0" when running Strawberry, right?

[2018-09-02 16:10] ruolin commented on #21
I think I would actually use the default setting. Pacbio ccs is still less accurate than illumina, the splice alignment might not be good. However if you want supersensitive detection of transcripts, you can try 1. Based on the small test set, it seems to me the default is good. Do you have some ground truth so you can benchmark?

[2018-09-03 05:39] lauraht commented on #21
Thanks.
I don't really have the ground truth. But by matching with transcripts in the human reference annotation, I found that using "--min-support-4-intron 1.0" Strawberry assembles relatively more correct transcripts (that match the reference transcripts) than using the default setting.

[2018-09-14 14:34] ruolin commented on #21
Thanks. That is good to know. I will close this issue for now.

[2018-09-14 14:34] #21 closed

[2018-10-30 23:13] jorgeibarracaballero opened #22 "sorting order"
Hello. I hope you can help me.
I am running a RNAseq experiment. I used tophat to map the reads (single end) to the reference genome (sorghum) including the corresponding gff file ("filtered" using: gffread Sbicolor_454_v3.1.1.gene.gff3 -o Sbicolor_filtered.gff), then I use the bam file from tophat in strawberry. It works fine if I am not including the reference annotation, but it crashes if I inc

[2018-11-01 14:25] ruolin commented on #22
@jorgeibarracaballero Hi Jorge,
Thank you for your interests in strawberry. First of all, the single end reads should work fine. From the output it looks like you have a non-standard gff3? Strawberry might be more strict about the rules, but this is something I can fix. Is there a way to share your gff3 and a subset of the bam (including the header) with me?

[2018-11-01 16:45] jorgeibarracaballero commented on #22
Hi!
Sure I can share them.
I also tried using the original gff3 file (not "filtered") with same results (after using this file with tophat and then the corresponding .bam file).
How to get a subset of the bam file (with header)? I can try to find out but probably you know how to do it.
I can also try to send you the whole bam file using wetransfer.
Thanks!
Jorge

[2018-11-02 04:33] ruolin commented on #22
you can use `samtools view -h your.bam | head -n 10000 > test.sam` and share the test.sam and gff3 with me. My email is rliu0606@gmail.com. You can share with me using google drive or something else. Thanks!

[2018-11-03 22:57] jorgeibarracaballero commented on #22
Here is the original gff3 file and a subset of the accepted_hits.bam file that I got using exactly that gff3 file.
I will upload the whole bam file and will send you the link so you can have it if needed.
Thank you!

[Sbicolor_454_v3.1.1.gene.gff3.zip](https://github.com/ruolin/strawberry/files/2545397/Sbicolor_454_v3.1.1.gene.gff3.zip)

[12_test.sam.zip](https://github.com/ruolin/strawberry/files

[2018-11-04 18:14] ruolin commented on #22
@jorgeibarracaballero Thank you for providing the files. I ran through the small test case it seems to be fine. Just to confirm that were you using something like this `strawberry 12_test.bam -g Sbicolor_454_v3.1.1.gene.gff3`? And which version of strawberry are you using? It looks like that I need the full bam to debug.

[2018-11-04 20:54] jorgeibarracaballero commented on #22
strawberry 12_thout/accepted_hits.bam -o 12_strawberry_out2 -g Sbicolor_454_v3.1.1.gene.gff3 -p 8

the bam file is in the 12_thout folder.

strawberry v1.0.1

I'm going to upload the bam file and will send you a link when it is available
Thank you!

[2018-11-06 00:10] jorgeibarracaballero commented on #22
I sent the link to your email: rliu0606@gmail.com

[2018-11-06 15:02] 47Lies opened #23 "segmentation fault (core dumped)"
Hi,

I'am currently working with some synthetic RNA to benchmark some few things from
https://www.nature.com/articles/nmeth.3958

And I got a segmentation fault from one file
[SegFault.zip](https://github.com/ruolin/strawberry/files/2553670/SegFault.zip)
here are a small fragment of the bam file that will cause a segmentation fault and the associated GTF
file.
The chrIS do not pause any problem si

[2018-11-06 15:55] ruolin commented on #22
Hi, @jorgeibarracaballero I didn't get the link. Can you send it again?

[2018-11-06 17:00] jorgeibarracaballero commented on #22
Oh,
https://we.tl/t-093w2jcaGQ

Enviado desde mi iPhone n+1

El nov. 6, 2018, a la(s) 8:55 a. m., Ruolin Liu <notifications@github.com> escribió:

[2018-11-07 05:51] ruolin commented on #22
@jorgeibarracaballero It is interesting that I don't get any error by running your data. I attached the output from strawberry. I used `strawberry 12_accepted_hits.bam -o 12_strawberry_out2 -g Sbicolor_454_v3.1.1.gene.gff3`. If you use the small bam that you sent to me, do you still have the error?

[assembled_transcripts.gtf.zip](https://github.com/ruolin/strawberry/files/2556182/assembled_transc

[2018-11-07 15:57] jorgeibarracaballero commented on #22
Hi,
I am confused. In your comment here at https://github.com/ruolin/strawberry/issues/22 your command is:
strawberry 12_accepted_hits.bam -o 12_strawberry_out2 -g
without the gff3 file after -g
But in the email that I received, the command is:
strawberry 12_accepted_hits.bam -o 12_strawberry_out2 -g Sbicolor_454_v3.1.1.gene.gff3 -p 8Sbicolor_454_v3.1.1.gene.gff3 -p 8
with a 'repeat' after -p8 wit

[2018-11-07 16:48] ruolin commented on #23
@47Lies Thank you very much for reporting this bug! I have made a patch and released the new version of strawberry (1.0.2) https://github.com/ruolin/strawberry/releases/tag/1.0.2.
I also updated the master branch. You can check out the front page.

[2018-11-07 17:18] ruolin commented on #22
@jorgeibarracaballero Hi Jorge, Sorry about the confusion. When I copied the last part of the command to the dialogue it somehow got deleted. So you are right I used the same as you did and did not have errors. BTW, did you use the binary or you built from the master branch?

[2018-11-07 17:22] jorgeibarracaballero commented on #22
$ ../strawberry 12_accepted_hits.bam -o 12_strawberry_out2 -g Sbicolor_454_v3.1.1.gene.gff3 -p 8
Log to file 12_strawberry_out2/execution.log
Has loaded transcripts from 90 Chromosomes/Scaffolds
Warning: Sam file and Gff file are not sorted in the same order!
set gff chrom id to 12
Warning: Sam file and Gff file are not sorted in the same order!
set gff chrom id to 15
[and so on until:]
Warning: S

[2018-11-09 06:59] ruolin commented on #22
@jorgeibarracaballero Your speculation is right. Your gff3 file has no `exon` field. So Strawberry does not actually use the your gff3. While I am trying to fix this, a quick thing you can try is to replace CDS with exon in your gff3 file by `sed -i 's/CDS/exon/g' Sbicolor_454_v3.1.1.gene.gff3`. And It should work.

[2018-11-09 09:44] lietai commented on #23
@ruolin It works.

Thank you.

[2018-11-09 10:45] TSL-RamKrishna opened #25 "Assertion `_assay_props._platform == UNKNOWN_PLATFORM' failed"
Strawberry fails with following message:
virtual bool HitFactory::parse_header_line(const string&): Assertion `_assay_props._platform == UNKNOWN_PLATFORM' failed

While checking the code, I see it return SoLiD or Illumina and then asserts the return value is equal to UNKNOWN_PLATFORM. I do not get why it is checking if it is equal to UNKNOWN_PLATFORM.

I commented the line in the src/read.cpp file

[2018-11-09 13:11] jorgeibarracaballero commented on #22
Oh, I see.
Thanks, I hope this will be useful for you and strawberry too.
I will try it soon, will let you know.
Jorge

Enviado desde mi iPod n+1

[2018-11-09 17:08] jorgeibarracaballero commented on #22
I replaced all "CDS" with "exon", but sorry, it didn't work again. I tried
strawberry 12_accepted_hits.bam -o 12_strawberry_out3 -g Sbicolor_454_v3.1.1.gene.gff3 -r -p 8
and again got the "Warning: Sam file and Gff file are not sorted in the same order!
set gff chrom id to ..." messages, then several:
"Chr01	563340	564836 finishes abundances estimation", and then:
"Chr01	526909	strawberry: ../nptl

[2018-11-10 15:14] shinyanishio opened #26 "Installation trouble"
Hi. Now I'm in trouble to install Strawberry. Please help!

After I moved into build and run make. But I could not finish installation.

The error message was below
==
gcc -c -g -Wall -O2 -D_FILE_OFFSET_BITS=64 -D_LARGEFILE64_SOURCE -D_USE_KNETFILE -D_CURSES_LIB=1 -I. bam_tview_curses.c -o bam_tview_curses.o

bam_tview_curses.c:5:10: fatal error: curses.h: No such file or directory
 #include <curs

[2018-11-10 16:39] ruolin commented on #26
Hi @shinyanishio, thanks for using Strawberry. You message says that `curses.h` is missing. What platform are you using? In Linux/Unix, the `curses.h` should be in the system location `/usr/include/curses.h`.

[2018-11-10 16:39] #23 closed

[2018-11-10 16:47] ruolin commented on #22
@jorgeibarracaballero Sorry about the errors. But again on my end, it works just fine. Can you try two things to help me locate the problems? It seems to be a pthread problem. Can you delete -p 8 to use a single thread? Secondly, can you try to build the strawberry from scratch? It should be easy to build, just follow the instruction from the front page. I can help you if you have any problems to

[2018-11-10 16:53] ruolin commented on #25
@TSL-RamKrishna Thank you very much for suggesting this fix! I will update the code to reflect your suggestions. Since it works for you now, I think I will put this fix into the next release. But let me know if you and any blockers, then I will update it soon. Again, thank you very much!

[2018-11-10 17:16] jorgeibarracaballero commented on #22
No worries.

I will try as you say.

Thanks,

Jorge

[2018-11-10 22:05] shinyanishio commented on #26
Hi ! I tried Ubuntu 16.04LTS and 18.04LTS. I only install gcc, g++, make, git, zlib.

[2018-11-11 07:45] shinyanishio commented on #26
Thank you for your comment. I installed libncurses5 to locate curses.h by below command.
sudo apt-get install libncurses5-dev

After installation, Now I can install strawberry! Thank you!

[2018-11-11 20:18] ruolin commented on #26
@shinyanishio Thank you very much for suggesting the solution! I will put libncurses5 as one of the dependencies in case of any other users have the same problem.

[2018-11-13 21:38] jorgeibarracaballero commented on #22
It worked, using the file with "exon" instead of "CDS" and only one thread, although I still again got the "Warning: Sam file and Gff file are not sorted in the same order!
set gff chrom id to ..."
messages, but then I kept running and I got an output, both with -r and without.
I will try to build it from scratch

[2018-11-14 04:15] ruolin commented on #22
@jorgeibarracaballero These warnings tell that your bam header does not match the gff file. If you check your gff file, some contigs are missing. Strawberry tries it best to warn you that you might use a wrong gff file. But in your case, you probably just don't have them annotated yet and those are very small contigs. Strawberry can still proceed and these warnings have no effect on the results.

[2018-11-14 04:19] jorgeibarracaballero commented on #22
Yes, you are right. I got the genome and gff3 file from JGI, they are supposedly the best for sorghum currently,but you are not for all uses.
Thank you for your help!

Enviado desde mi iPhone n+1

El nov. 13, 2018, a la(s) 9:15 p. m., Ruolin Liu <notifications@github.com> escribió:

[2018-11-14 04:37] ruolin commented on #22
@jorgeibarracaballero You are welcome! Your information and data is helpful. I will fix the problem in the next release so that you don't need to replace CDS with exon.

[2018-11-14 14:52] MarkChristianHarrison opened #27 "`!_genes.empty()' failed."
Hi,
I've tried running Strawberry with a gff.
I needed to sort the gff3 file so that the chromosomes were in the same order as in the sorted bam file (they were in a random order in the gff3).

Then when running:

bin/strawberry sort.bam -o ./  -g sort.gff -p 8

I get the following error:
strawberry: /global/group/home/harrisom/Programs/Strawberry/include/gff.h:325: int GffTree::get_gseq_id() cons

[2018-11-16 05:02] ruolin commented on #27
Hi @MarkChristianHarrison Sorry about the late reply. Can you check if your gff3 file has `exon` field? I have another user that has the same error and don't have the `exon` field. See #22

[2018-11-16 06:46] MCH74 commented on #27
Hi Ruolin,
Yes my gff has gene, exon and cds fields. But I had to change the gff for the scaffolds to be in the same order as the bam file. Maybe that created problems? Now CDS and EXON features alternate:

scf00001 maker gene ....
scf00001 maker mRNA ...
scf0001 maker exon ...
scf0001 maker CDS ...
scf0001 maker exon ...
scf0001 maker CDS ...
scf0001 maker exon ...
scf0001 maker CDS ...
 ....

Co

[2018-11-16 16:29] ruolin commented on #27
@MarkChristianHarrison Hi, you don't need to change the scaffolds to be in the same order. Strawberry will do that and the reason that I give out the warning is that some users might use a wrong gff file. If you believe your gff is correct, you don't need to sort them. Can you try with the original gff file? It the problem still exists can you send me your gff file with your bam?

[2019-03-29 08:01] crj32 opened #29 "How to merge multiple .gtf files"
Hi, thanks for strawberry, cool name.

But how do I merge multiple .gtf files from each BAM sample like stringtie does? Is this an option?

Like this:
https://github.com/griffithlab/rnaseq_tutorial/wiki/Transcript-Assembly-Merge

Best wishes,

Chris

[2019-03-30 02:05] ruolin commented on #29
@crj32 Thank you for your comment. I guess, stringtie merge should also work for strawberry output gtfs.
Otherwise, cuffmerge http://cole-trapnell-lab.github.io/cufflinks/cuffmerge/ is what I use to merge multiple .gtf files.

[2019-04-03 06:45] crj32 opened #30 "How to get gene symbols"
Hi

I have run strawberry on our data in the genome guided mode, is there an easy way you know if of getting the gene symbols of these new transcripts? Further, is there a way to add the gene symbols to the .gtf annotation file?

I know I could write either a blast script to do this or use the chromosome coordinates, but thought I'd ask anyways because you may know.

In stringtie they are allocate

[2019-04-03 19:49] ruolin commented on #30
@crj32 Thank you for your suggestions. I have made a new release. If you use -g option and providing a reference annotation file, Strawberry will utilize that annotation and if the de-novo assembled transcripts match the reference gene coordinates, these transcripts will have that gene symbols. Otherwise, new ids will be given. Are you working on the model organisms? Please update your Strawberry

[2019-04-04 07:36] crj32 opened #32 "Error with new version"
Hi

Thanks for the update. Unfortunately, the new version is giving me an error that I wasn't getting yesterday with the same command:

strawberry SAM24297965.bam -o ./ -g gencode.v29.annotation.gtf -p 22

Error:

strawberry: /home/ruolin/git/strawberry/src/alignments.cpp:347: Strand_t HitCluster::ref_strand() const: Assertion `i.strand() == strand' failed.
Aborted (core dumped)

I did successfull

[2019-04-04 12:50] crj32 commented on #32
One more thing Ruolin, if you don't mind, is I don't want strawberry to quantify, I just want the annotations because I am using Salmon to quantify.

Is it possible to have a parameter that disables this? I expect that will improve runtime.

[2019-04-04 13:48] #32 closed

[2019-04-04 20:11] ruolin commented on #30
@ruolin I saw on the closed issue that you have a problem with the new version?

[2019-04-05 05:57] crj32 commented on #30
Yes I closed that because I changed the command and it worked OK.

[2019-04-05 06:14] crj32 opened #33 "A few issues"
Ruolin

That is useful with the adding the gene_id from the ensembl annotation, much faster than my python script to do it afterwards. I'll let you know how this pans out with the downstream tools I use. There are a few other minor issues though that would help make the tool better IMO:

1. What would likely be a further improvement is adding the gene_name as well, this is an example from Stringti

[2019-04-06 03:24] ruolin commented on #33
@crj32 Thank you for your suggestions. I really like those people giving feedbacks. Please don't hesitate to do so. And for 3 and 4, I think what you need is an option for output_gtf but not an output folder, right? I will start to cracking these issues. It will probably take a few days since I am also busy with other stuff.

[2019-04-06 06:43] crj32 commented on #33
Yeah, just a custom named output .gtf would be nice. Right you are.

[2019-04-06 22:54] ruolin commented on #33
What if when no annotation, do you prefer something like `; ref_gene_id ""; ref_gene_name ""`?

[2019-04-07 07:24] crj32 commented on #33
I don't mind because we are always using a reference, but I'd suggest making the names for these IDs the same as Stringtie uses incase any other tools require specific names for compatibility.

I think without a reference, it is probably just going to be 'gene_id' and 'transcript_id'? I think you had that already.

[2019-04-08 08:19] crj32 commented on #33
I've just noticed something, gene_id "ERR188044.1"; transcript_id "ERR188044.1.1", from Stringtie include the sample name in the syntax. You may have recognised this already.

This is important as when it comes to merging the gtf's, as I have an error with strawberry using Taco to merge the .gtf files, because the .gtf format is not the same as Stringtie (https://tacorna.github.io/). This is an is

[2019-04-10 07:49] ruolin commented on #33
@crj32 I think I have completed all your suggested items. Can you have a try of the current master, commit id `09aee96` to see if that has met your needs?

[2019-04-10 07:58] crj32 commented on #33
My VM I do my work on is down today unfortunately so we will have to wait and is it OK to get a precompiled binary instead of the source code?

[2019-04-11 06:43] crj32 commented on #33
This is good, my computer is working again, I have compiled from source and will test the new version for you.

[2019-04-11 08:03] crj32 opened #36 "Bug/s in version 1.0.8"
This new version looks promising, but I get the following errors:

## throws an error

strawberry SAM24297965.bam -p 20 -g ./gencode.v29.annotation.gtf -o ./test.gtf

terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc
Aborted (core dumped)

## throws an error

strawberry SAM24297965.bam -p 20 -g gencode.v29.annotation.gtf -o test.gtf

terminate called after t

[2019-04-12 05:06] ruolin commented on #36
Sorry about that. Can you share me your bam so I can fix the bug/s. My email is rliu0606@gmail.com.

[2019-04-16 03:54] ruolin commented on #36
@crj32 It took me a quite a while to pinpoint the mem bugs, quite hidden ones.  Thank you for reporting and sharing the file. Let me know how does it go with https://github.com/ruolin/strawberry/releases/tag/1.1.0. And I will delete the file once you run it through.

[2019-05-03 03:16] #25 closed

[2019-05-07 08:54] crj32 commented on #36
Sorry Ruolin I'm going to be busy for quite a while with other projects, but I guess everything is working now and we have made Strawberry considerably more appealing for other users. Thanks for your help with this.

[2019-05-08 07:38] ruolin commented on #36
No problem. Thank you for your comments and suggestions. I really appreciate it.

[2019-05-09 17:15] petersbr opened #37 "Segmentation fault when output directory for log file parameter is missing"
Hello ,

This is a suggestion to add some basic parameter validation so that it is easier to figure out what is wrong with command calls.  Receiving a segmentation fault is much harder to interpret that: something like "Specified output directory X is missing" or just creating it on the fly.

In my case I was passing "--logfile logs/strawberry.log" but "logs" didn't exist and I just received a seg

[2019-05-18 17:34] ruolin commented on #37
Hi,
Thank you for your suggestion. I have fixed it in the version 1.1.1.

[2019-05-18 17:34] #37 closed

[2019-05-18 17:34] #27 closed

[2019-05-18 17:34] #22 closed

[2019-05-18 17:35] #29 closed

[2019-05-18 17:35] #30 closed

[2019-05-18 17:36] ruolin commented on #36
@crj32 I will close this issue for now. Feel free to reopen it.

[2019-05-18 17:36] #36 closed

[2019-05-18 17:36] #33 closed

[2019-10-02 15:18] moxgreen opened #38 "never endig processes"
Hi,
I'm using  strawberry v1.1.1 whit the following command line
`
strawberry sorted.bam -o strawberry.gtf -T strawberry.gtf.log -g ref_annot.gtf -p 6
`
The process reached 100% of CPU but not more, as expected due to -p 6, and I let it run at 100% CPU for several days. Both `strawberry.gtf` and `strawberry.gtf.log` have some data, stderr shows
[code]

[2019-10-04 02:54] ruolin commented on #38
Hi, thanks for reporting this issue. I will put a docker image. By the meantime, it may not fix the problem. Would you like to provide your bam for me so I can root cause it?

Thanks

[2019-10-19 16:43] ruolin commented on #38
@moxgreen I have dockerized the application. Please do `docker pull ruolinliu/strawberry:v1.1.1` and refer to the readme for more information. Let me know if this works for you

[2019-10-23 13:23] moxgreen commented on #38
Thanks, I will try asap.

[2020-01-29 20:14] daniel-es6 opened #39 "--allow-multimapped-hits generate partial coverage"
Hi Ruolin,

I am trying to use Strawberry to do some RNAseq isoform analysis if targeted sequencing and got a question that I could not figure out. The --allow-multimapped-hits switch seems to affect the isoform results a lot. In some cases, the default (without --allow-multimapped-hits) will generate isoforms that lack coverage of regions with a lot of reads, but the results from runs with --allo

[2020-01-30 22:38] ruolin commented on #39
Hi Daniel,

Thanks for posting the issue. Strawberry relies on an additional tag for finding the hits with multiple alignments. It might be different from what you got from the flag for secondary alignments. Can you first confirm your bam has `NH` tag?

[2020-04-27 13:48] brianscole opened #40 "Add documentation to build from source"
Add documentation about how to build from source for users without Docker pull capability (e.g. protected servers)

[2020-06-05 13:40] ruolin commented on #40
@brianscole This is very easy with Strawberry.

[code]

[2020-06-11 23:52] sum732 opened #41 "Installation Issue"
Hi,
I am trying to build and keeping running into following message:
[code]
Where as ```zlib/1.2.8``` is available and in path
Any suggestions to fix the issue will be appreciated.
Thanks.

[2020-06-14 12:53] ruolin commented on #41
It seems like you have two versions of ZLIB installed. The cmake module might found it confusing. Can you try setting `ZLIB_INCLUDE_DIR` and `ZLIB_LIBRARY` with environment variables and as -D parameters to CMake

Another way is to just use the docker image or the compiled binary.

[2020-06-15 20:13] LiuJJ0327 opened #42 "Problem with gtf file"
Hi, I downloaded hg19 gtf file from UCSC gene brower and used -g option in strawberry, however I get the same problem as issue #20

error information:
strawberry: /root/strawberry/src/alignments.cpp:1859: double compute_doc(uint, uint, const std::vector<Contig>&, std::vector<float>&, IntronMap&, uint): Assertion `gf.right() >= gf.left()' failed.

I saw it may caused by a one bp intron in the gtf f

[2020-06-15 23:12] ruolin commented on #42
@LiuJJ0327 Thanks for reporting the bug. I have updated the master branch to `c2a4640`. Could you try this version?

[2020-06-16 14:51] brianscole commented on #40
Thanks!

[2020-06-16 14:51] #40 closed

[2020-06-16 16:02] LiuJJ0327 commented on #42
I tried latest version, but new error exist. Please see below.

Has loaded transcripts from 25 Chromosomes/Scaffolds
strawberry: /root/strawberry/src/alignments.cpp:322: void HitCluster::addRefContig(const Contig&): Assertion `_ref_id == contig.ref_id()' failed.
Aborted

[2020-06-16 16:03] LiuJJ0327 commented on #42
I tried latest version, but new error exist. Please see below.

Has loaded transcripts from 25 Chromosomes/Scaffolds
strawberry: /root/strawberry/src/alignments.cpp:322: void HitCluster::addRefContig(const Contig&): Assertion `_ref_id == contig.ref_id()' failed.
Aborted

[2020-06-16 17:04] ruolin commented on #42
Can you check if your gft file has the same chromosome id as is in your bam file? The typical theme here in one file you have `chr` and the other does not.

[2020-06-18 00:24] LiuJJ0327 commented on #42
I tested using: **_strawberry  test.bam -o test_out.gtf -g hg19_sed.gtf -p 8_**
but still get the same error. test.bam and hg19_sed.gtf have same chromosome.
My real bam file is H1_rep1.bam. Can you help me to figure out the problem? Below is my data. Thank you so much.

https://drive.google.com/file/d/1muxvaxDc3ZGMG0pR-e2iTVvlBUMkNLfT/view?usp=sharing
https://drive.google.com/file/d/1ZUDjn0yrMQau

[2020-06-19 21:01] ruolin commented on #42
@LiuJJ0327 Again, thanks for sharing the test data. After awhile, I found out this corner case is causing the problem
[code]

As you can see, a gene is located on two different chromosomes. I fix this issue in v1.1.2. I have tested the new version on your input data and it works fine.

[2020-06-24 16:50] ruolin commented on #42
@LiuJJ0327 Does the new version work for you?

[2020-07-21 16:50] #42 closed

[2020-07-21 16:50] #41 closed

[2020-07-21 16:50] #39 closed

[2020-07-21 16:50] #38 closed

[2020-07-21 20:03] LiuJJ0327 commented on #42
Yes. Thank you so much.

[2021-04-07 06:25] jsgounot opened #43 "image from readme"
Not a major issue, but just to inform you that due to transparency, your readme sketch does not render well with github night mode.

![image](https://user-images.githubusercontent.com/13219245/113820325-215fe080-97ad-11eb-89a1-f31c40373577.png)

[2021-04-21 22:10] ruolin commented on #43
@jsgounot Thanks! Suddenly github changed to this dark mode. But I like it!

[2021-04-21 22:10] #43 closed

[2021-08-05 06:49] sanyalab opened #44 "Understanding of parameter --max-junction-splice-size"
Hello,

This is not an issue. But I wanted to understand if "--max-junction-splice-size" parameter refers to max intron length. Similarly "--min-junction-splice-size" refers to minimum intron length.

Thanks
Abhijit

[2021-08-05 14:21] ruolin commented on #44
You are right. This is the max intron size since some aligners sometimes falsely output splice alignment with junction size too big to be true.

[2021-08-06 05:45] sanyalab commented on #44
Ok. Super. Thank you.

[2021-08-06 05:45] #44 closed